*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 800px;
    margin: 20px auto;
    height: 800px;
}
.grid{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: calc(100% / 10);
    width: calc(100% / 10);
    outline: 1px solid red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clicked{
    background-color: burlywood;
}